<div class="cm-h1">
  Artistic Items
</div>
These shadow art pieces are designed with a spherical outer shell and inner extrusions that block casted light to create a scene within the shadows. With a design focused on visual appeal and printability, these orbs have undergone a series of iterations to become what they are today. Each orb is the size of a tennis ball and was made with intractability in mind.  During the design process, each orb’s silhouette is first drawn out. Below are some of the silhouettes that were considered. <br>

<b>Images and some text to be added.</b>

Below you can use the included toggle to switch the lights on and off! <br>
<figure class="w3-center">
  <img class="w3-image" src="/static/shadow_orb/example_off.png" alt="" id="orb_interactive">
  <figcaption>
    <br>
    <button class="w3-button cm-button" onclick="orbInteract()" style="width:50%;"> Toggle lighting </button>
  </figcaption>
</figure>

  <%- include("pedestal.ejs"); %>
