<div class="cm-h1 w3-xxxlarge w3-center">
  Artistic Items
</div>
<div class="cm-h1 w3-large">
  The goal of this item was to showcase that while the techniques of additive manufacturing seem very technical, they can still be used in an artistic application.
</div>
<div class="w3-row w3-center">
  <div class="w3-quarter">
    <img class="w3-image" src="/static/shadow_orb/projection.jpg" alt="" style="max-height:400px;">
  </div>
  <div class="w3-quarter">
    <img class="w3-image" src="/static/shadow_orb/render.jpg" alt="" style="max-height:400px;">
  </div>
  <div class="w3-quarter">
    <img class="w3-image" src="/static/shadow_orb/face.jpg" alt="" style="max-height:400px;">
  </div>
  <div class="w3-quarter">
    <img class="w3-image" src="/static/shadow_orb/reverse.jpg" alt="" style="max-height:400px;">
  </div>
  </div>
  These shadow art pieces are designed with a spherical outer shell and inner extrusions which block light casted into them to create a scene much like shadow puppets would. The design of these are on going and work is being done to make them as visually appealing as well as optimized for 3D printing as possible.
  <br>
  Here are some example of scenes that could be put into the center instead of the "star gazing" scene. These are also in development and may change. Below you can use the included toggle to switch the lights on and off on this specific shadow orb!
  <figure>
    <img class="w3-image" src="/static/shadow_orb/example_off.png" alt="" id="orb_interactive">
    <figcaption>
      <br>
      <button class="w3-button cm-button" onclick="orbInteract()" style="width:50%;"> Toggle lighting </button>
    </figcaption>
  </figure>
  <br>

  <%- include("pedestal.ejs"); %>
