<div class="cm-h1">
  Dynamic Display Items
</div>
These items were created to show the power of additive manufacturing in motion!
<br> <br>
<!-- Tourbillion -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <figure>
      <img src="/static/items/tourbillion.png" alt="" class="w3-image" style="width:100%;">
      <figcaption class="w3-center">
        <a href="https://www.thingiverse.com/thing:3894352">Source</a>
      </figcaption>
    </figure>
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Tourbillion
    </div>
    The tourbillon is a marvel of mechanical construction, originally made for high-end watches as a way to counteract the effect of gravity on individual parts of the watche’s mechanism. This tourbillon made with additive manufacturing is not the same scale as its practical counterpart -- however the mechanisms within are just as entertaining to watch!
  </div>
</div>
<br>
<!-- Radial Engine -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <figure>
      <img src="/static/items/radial_engine.png" class="w3-image" style="width:100%;">
      <figcaption class="w3-center">
        <a href="https://www.thingiverse.com/thing:3654980">Source</a>
      </figcaption>
    </figure>
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Radial Engine
    </div>
    AM showing off a major feat in history! Being able to replicate the engine concept for one most famous aircrafts in U.S history, the B36! Flying back into our past with emerging AM technology we can see the simplified mechanism on how the mechanics of how the radial engine functions.
  </div>
</div>
<br>
<!-- V8 -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <figure>
      <img src="/static/items/v8.png" alt="" class="w3-image" style="width:100%;">
      <figcaption class="w3-center">
        <a href="https://www.thingiverse.com/thing:1195361">Source</a>
      </figcaption>
    </figure>
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      V8 Engine
    </div>
    A V8 engine is recognizable by its distinct V shape in the cylinders and the fact that they all share a common crankshaft. This example made with additive manufacturing won't allow you to be cruising around town in your muscle car, however you will be able to admire the work and craftsmanship that went into designing and producing engines like this in a time before computer aided design!
  </div>
</div>
<br>

<!-- Kinetic Sculpture -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <figure>
      <img src="/static/items/ks.jpg" alt="" class="w3-image" style="width:100%;">
      <figcaption class="w3-center">
        <a href="https://www.thingiverse.com/thing:2627829">Source</a>
      </figcaption>
    </figure>
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Kinetic Sculpture
    </div>
    A mesmerizing piece of artwork that can be made out of anything, but AM also expresses its power on intricate pieces of work such as this kinetic sculpture. A work of motion that greatly defines that AM can be “kinetic” to many different applications.
  </div>
</div>
<br>

<!-- Whale -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <figure>
      <img src="/static/items/whale.jpg" alt="" class="w3-image" style="width:100%;">
      <figcaption class="w3-center">
        <a href="https://www.thingiverse.com/thing:3934385">Source</a>
      </figcaption>
    </figure>
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Whale
    </div>
    Nature is one of the many inspirations for many applications and design concepts. Because nature is so inspirational, why not let AM inspire the uses of it’s application to mimic the flow and movement of nature itself with one of the largest mammals on Earth, the blue whale.
  </div>
</div>
<br>

<%- include("pedestal.ejs"); %>

<script>
  //disable the link to this page
  document.getElementById("dynamiclink").href = "#dynamiclink";
</script>
