<div class="cm-h1 w3-xxxlarge w3-center">
  Dynamic Display Items
</div>
<div class="cm-h1 w3-large">
  These items were created to show the power of additive manufacturing in motion!
</div>
<br>
<!-- Tourbillion -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/tourbillion.png" alt="" class="w3-image">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Tourbillion
    </div>
    The tourbillion is a marvel of mechanical construction. Originally made for high-end watches as a way to counteract the affect of gravity on the individual parts of the watches mechanism, the complex and interesting aspects of the tourbillion are now no longer just for those with years of machining expertise (or a couple thousand dollar watch shaped hole burning in their wallet)! The 3D printed tourbillion is not the same scale as its practical counterpart however the mechanisms within are just as entertaining to watch!
  </div>
</div>
<br>
<!-- Radial Engine -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/radial_engine.png" alt="" class="w3-image">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Radial Engine
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
<br>
<!-- V8 -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/v8.png" alt="" class="w3-image">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      V8 Engine
    </div>
    A V8 engine is recognizable by its distinct V shape in the cylinders and the fact that they all share a common crankshaft. In this 3D printed example you won't be cruising around town in your muscle car, however you will be able to admire the work and craftsmanship that went into designing and producing engines like this in a time before computer aided design!
  </div>
</div>
<hr>

<%- include("pedestal.ejs"); %>
