<div class="cm-h1">
  Kiosk Space Lander Legs
</div>
The leg structure design was inspired by spacecraft landers, which can be seen in the shape created by the two structures flanking the central printer and the printer itself. <br>

Each space lander leg structure stands 5 feet tall, and each supports an interactive touchscreen. The structures are designed to make use of additive manufacturing and the assembly makes use of simple connectors that are manufactured as part of each panel. The panels also include the usage of topology optimization to add visual interest and provide a learning opportunity to showcase what additive manufacturing can create, even on a large scale. <br>
<br>

<div class="cm-h1">
  Techniques Used
</div>
<button class="w3-button cm-button" onclick="expand('to')"> // Topology Optimization // </button>
<div id="to" class="w3-container w3-round-large cm-acordian w3-hide">
  Topology optimization is the process of minimizing the material required to satisfy a set of loading conditions. The result is a reduction of weight and material waste while also decreasing manufacturing time. Additive manufacturing enables the production of designs created using topology optimization.
  <figure>
    <div class="w3-container w3-row">
      <div class="w3-container w3-third w3-mobile">
        <img src="/static/legs/panel_opt1.png" style="width:100%;">
      </div>
      <div class="w3-container w3-third w3-mobile">
        <img src="/static/legs/panel_opt2.png" style="width:100%;">
      </div>
      <div class="w3-container w3-third w3-mobile">
        <img src="/static/legs/panel_opt3.png" style="width:100%;">
      </div>
    </div>
    <figcaption>Examples of panels optimized using topology optimization.</figcaption>
  </figure>
</div>
<button class="w3-button cm-button" onclick="expand('sup')"> // Survey of User Preference // </button>
<div id="sup" class="w3-container w3-round-large cm-acordian w3-hide">
  The patterns used for this structure were created using a variety of loading conditions beyond those strictly required for the structure. It was then evaluated by potential users for their visual appeal and perceived stability. Respondents preferred the patterns that were more symmetric in both vertical and horizontal directions, leading to the selection of the panels you see in the kiosk.
</div>
