<div class="cm-h1 w3-xxxlarge w3-center">
  Pedestal Design Process
</div>
<div class="cm-h1 w3-large">
  The goal of this pedestal was to help showcase the shadow orb by providing a place to hang the orb from.
</div>
The designs for the pedestals first began as a brainstorming session. This was when ideas for display objects were still very new so both the pedestals and the display object concepts evolved together. The goal was to integrate the display as much as possible with the objects themselves. Below are some pictures of that process.<br> <br>
<button class="w3-button cm-button" onclick="expand('design')">Design process</button>
<br>
<div id="design" class="w3-container w3-round-large cm-acordian w3-hide">
  <img class="w3-image" src="/static/pedestals/sketch1.png" alt=""> <br>
  <img class="w3-image" src="/static/pedestals/sketch2.jpg" alt=""> <br>
  <img class="w3-image" src="/static/pedestals/sketch3.jpg" alt=""> <br>
  <img class="w3-image" src="/static/pedestals/sketch3.jpg" alt=""> <br>
  To help narrow down the options from the first sketch to the final, a survey was sent out. Using the data gathered from the conjoint survey, the five most-liked designs were determined. These top five designs were then included in a subsequent survey which sought to test a user's visual interest in each pedestal and willingness to approach it. This subsequent survey shows that the pedestal in the top left corner of the last image ranked highest in all categories. Below is a render of what that may look like. <br>
  <figure>
    <img class="w3-image" src="/static/pedestals/render.png" alt="ohh nooo">
    <figcaption>The most popular pedestal.</figcaption>
  </figure>
</div>
