<div class="cm-h1">
  Pedestals
</div>
<b>Navigation links to other pedestals coming soon -- I am tired! (Buxton)</b> <br>

The goal in designing this quartet of pedestals was to make them as unique as possible. The CMTC team designed the pedestals to take advantage of additive manufacturing techniques, and incorporate features that are most readily manufactured with additive manufacturing. Furthermore, each pedestal’s design highly considers the display objects they hold on top and aim to compliment them. All the meanwhile, the pedestals aim to remain modular and easy to assemble!<br>

The static pedestal top includes recesses to store parts of a custom rod and node building system, while the surface is a building surface to anchor your creations! The dynamic pedestal top has five steps, each of which showcases a different application of additive manufacturing to moving parts. The recreational pedestal table has a chess board built in, and finally the artistic pedestal top enables viewing capabilities for the unique shadow orbs. <br>

<button class="w3-button cm-button" onclick="expand('design')"> // Design Process // </button>
<br>
<div id="design" class="w3-container w3-round-large cm-acordian w3-hide">
  The pedestal designs are the result of extensive user testing to evaluate and refine concepts for optimal visual appeal and willingness to approach and engage with the pedestals. To reach the final design, a complex design process and design review process was used. 7 different pedestal bases and 7 different pedestal tops were designed to expand on an initial concept. <br>
  <div class="w3-row">
    <div class="w3-half">
      <figure>
        <img src="/static/pedestals/sketch2.jpg" class="w3-image">
        <figcaption>
          Initial Concepts
        </figcaption>
      </figure>
    </div>
    <div class="w3-half">
      <figure>
        <img src="/static/pedestals/sketch3.jpg" class="w3-image">
        <figcaption>
          Grid of Pedestal Alternatives
        </figcaption>
      </figure>
    </div>
  </div>
  From there, a grid of 49 design alternatives was then created which depicts every possible pedestal base and pedestal top combination. A conjoint analysis was performed to select what pedestal bases and what pedestal tops were most preferred by users.  Then several visual tests were done to help narrow down the design further.  These surveys tested user interest, user’s willingness to approach the pedestal, the pedestal’s cohesiveness with the kiosk experience, how futuristic the pedestal’s design was, and to what degree the pedestal was perceived to showcase the advantages of additive manufacturing. Feedback from surveys was incorporated into the final pedestal design.
  <figure>
    <img class="w3-image" src="/static/pedestals/sketch1.png" alt="ohh nooo">
    <figcaption>Final Pedestal Concept</figcaption>
  </figure>
</div>
