<div class="cm-h1 ">
  Augmented Reality (AR) Banner and Companion App
</div>
Through the use of the companion app (<a href="https://testflight.apple.com/join/iJlZcYOz">iOS</a> and <a href="/w2m.apk">Android</a>), the experience of the kiosk can be enjoyed from anywhere! The AR experience is enabled by the conjunction of a physical image and the programming within the Window to Mars app designed by the CMTC team.  ​
<br>
AR is an innovative and exciting technology that adds value to myriad disciplines, creating a cinematic narrative overlaid on everyday life. By embedding AR in an engaging phone application, this technology becomes accessible to all! Some exemplar applications of AR include immersive engineering and medical training, as well as visualization and navigation aids for complex spaces.
<br>
<b>Note:</b> Eliminating glare may help in seamless AR viewing.


<button class="w3-button cm-button" onclick="expand('banner')"> // AR Banner // </button>
<div id="banner" class="w3-container w3-round-large cm-acordian w3-hide">
  The AR banner is inspired by Lockheed Martin Mars Base Camp Lander and allows you to take a peek onto the surface of Mars. ​
  <br>
  While running the Window to Mars app, point your phone camera towards the two banners to view different perspectives of Mars. Try and spot the Martian Rover, Phobos and Deimos!
  <br> <br>

  <figure>
    <img class="w3-image" src="/static/ar/left.jpg" alt="ohh nooo">
    <figcaption>
      Point your phone camera here!
    </figcaption>
  </figure>
  <button class="w3-button cm-button" onclick="expand('phone1')"> // View Screenshot of AR // </button>
  <figure id="phone1" class="w3-hide">
    <img class="w3-image" src="/static/ar/mars_phone2.jpg" alt="ohh nooo" style="width:50%;">
    <figcaption>Here's what that looks like through the phone!</figcaption>
  </figure>

  <figure>
    <img class="w3-image" src="/static/ar/right.jpg" alt="ohh nooo">
    <figcaption>
      Point your phone camera here!
    </figcaption>
  </figure>
  <button class="w3-button cm-button" onclick="expand('phone2')"> // View Screenshot of AR // </button>
  <figure id="phone2" class="w3-hide">
    <img class="w3-image" src="/static/ar/mars_phone1.jpg" alt="ohh nooo" style="width:50%;">
    <figcaption>Here's what that looks like through the phone!</figcaption>
  </figure>
</div>


<button class="w3-button cm-button" onclick="expand('cards')"> // AR Cards // </button>
<div id="cards" class="w3-container w3-round-large cm-acordian w3-hide">
  <div class="cm-h1">
    AR Cards
  </div>
  The AR Cards are a narrative series portraying humanity’s “north star” (Mars) and its vessel (Orion), and ultimate arrival and colonization of Mars. Additionally, both cards are metaphorical keys that, when combined together, show humanity’s dream of making Mars our own.
  <br>
  By pointing your phone camera towards the separate cards you can experience holograms of Mars and Orion. Try it out, and see what happens when you point your camera at the combined cards!
  <br> <br>

  <div class="cm-h1">
    Card 1
  </div>
  <a href="/dl/card1.pdf">Download a printable version of the card here!</a>
  <div class="w3-row" style="max-height:400px;">
    <div class="w3-half">
      <figure>
        <img src="/static/cards/card1_cover.png" class="w3-image">
        <figcaption>
          <b>Cover</b>
        </figcaption>
      </figure>
    </div>
    <div class="w3-half">
      <figure>
        <img src="/static/cards/card1_back.png" class="w3-image">
        <figcaption>
          <b>Back</b> - Point your camera here!
        </figcaption>
      </figure>
    </div>
  </div>
  
  <div class="cm-h1">
    Card 2
  </div>
  <a href="/dl/card1.pdf">Download a printable version of the card here!</a>
  <div class="w3-row" style="max-height:400px;">
    <div class="w3-half">
      <figure>
        <img src="/static/cards/card2_cover.png" class="w3-image">
        <figcaption>
          <b>Cover</b>
        </figcaption>
      </figure>
    </div>
    <div class="w3-half">
      <figure>
        <img src="/static/cards/card2_back.png" class="w3-image">
        <figcaption>
          <b>Back</b> - Point your camera here!
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="cm-h1">
    AR Cards Demo
  </div>
  <video src="/AR_Demo.mp4" controls style="width:100%;">If you can see this something is wrong</video>

  <div class="cm-h1">
    Bookmark
  </div>
  <a href="/dl/bookmark.pdf">Download a printable version of the bookmark here!</a>
  <!--<div class="cm-h1">
    Combined
  </div>
  <figure>
    <img src="/static/cards/combined.png" class="w3-image"style="max-height:400px;">
    <figcaption>
      <b>Card 1 and 2's backs combine!</b>
    </figcaption>
  </figure> -->
</div>
