<div class="cm-h1">
  Additive Manufacturing (AM): Machines and Techniques
</div>

Additive manufacturing is a unique process that can create lighter, stronger, and abstract parts that traditional subtractive manufacturing cannot replicate. The most common way of doing this is with a 3D printer. Objects and parts are printed layer by layer out of materials ranging from thermoplastics, metals, ceramics, to biochemicals. The benefits of additive manufacturing include incorporating cellular structures, manufacturing joints and parts as a single piece for rapid assembly, and quick prototyping to rapidly iterate and test parts. Learn more about the benefits and applications of additive manufacturing on the interactive screens to the right and left! <br>

With the advent of faster and inexpensive controllers, additive manufacturing has become an incredibly accessible technology and modern convenience available to everyone. Furthermore, additive manufacturing is a developing technology and has multiple different styles and processes that all fall under the larger umbrella of “additive manufacturing” itself. Below a few different types are broken out and explained. <br>


<button class="w3-button cm-button" onclick="expand('fdm')"> // Fused Deposition Modeling (FDM) // </button>
<div id="fdm" class="w3-container w3-round-large cm-acordian w3-hide">
  Fused Deposition Modeling, more typically called FDM, is the process of converting a computer generated model into a physical object by depositing molten plastics layer by layer to form the final product. FDM is the most common form of additive manufacturing currently because of its simplicity and low cost. <br>
  <!--<figure>
    <img class="w3-image" src="static/printer.jpg" alt="ohh nooo">
    <figcaption>A typical FDM printer.</figcaption>
  </figure> -->
</div>

<button class="w3-button cm-button" onclick="expand('sls')"> // Selective Laser Sintering (SLS) // </button>
<div id="sls" class="w3-container w3-round-large cm-acordian w3-hide">
  Selective Laser Sintering (SLS) is the process of using a laser to selectively sinter or melt layers of material together. This form of additive manufacturing is less common in non-industry use, as the costs of having a high power laser to heat up and melt materials is often over budget for the average person.
  <br>
  While more complicated, this approach does allow for the printing of metal or resins which would otherwise be impossible or far more complex on an FDM machine. In addition to this, the objects produced by SLS printers tend to be much higher in resolution as the laser can very precisely control what is melted and what is not.
  <br>
  <figure>
    <img class="w3-image" src="static/sls.jpg" alt="ohh nooo">
    <figcaption>A typical SLS printer.</figcaption>
  </figure>
</div>

<button class="w3-button cm-button" onclick="expand('sla')"> // Stereolithography (SLA)  // </button>
<div id="sla" class="w3-container w3-round-large cm-acordian w3-hide">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
