<div class="cm-h1 w3-xxxlarge w3-center">
  Additive Manufacturing (AM): Machines and Techniques
</div>
With the advent of faster and inexpensive controllers, additive manufacturing has become an incredibly accessible technology. These technologies and techniques, while futuristic, are very much a modern convenience available to everyone. <br> <br>

Additive Manufacturing refers to the process of creating something by strategically adding material where there once was none. The most common way of doing this is with a 3D printer which adds molten plastic together in layers to form a three dimensional object. 3D printing is in of itself a developing technology and has multiple different styles and processes that all fall under the larger umbrella of 3D printing. Below these different types are broken out and explained. <br> <br>

<button class="w3-button cm-button" onclick="expand('fdm')">Fused Deposition Modeling (FDM)</button>
<div id="fdm" class="w3-container w3-round-large cm-acordian w3-hide">
  Fused Deposition Modeling, more typically called FDM, is the process of converting a computer generated model into a physical object by depositing molten plastics layer by layer to form the final product. This is the most common form of 3D printing currently because of its simplicity and low cost. <br>
  <figure>
    <img class="w3-image" src="static/printer.jpg" alt="ohh nooo">
    <figcaption>A typical FDM printer.</figcaption>
  </figure>
</div>
<br> <br> <!-- Added because the buttons dont break line -->
<button class="w3-button cm-button" onclick="expand('sls')"> Selective Laser Sintering (SLS) </button>
<div id="sls" class="w3-container w3-round-large cm-acordian w3-hide">
  Selective Laser Sintering (SLS) is the process of using a laser to selectively sinter or melt layers of material together. This form of 3D printing is more reserved for professionals as the costs of having a high power laser to be able to heat up whatever material is being used is often over budget for the average person.<br>
  While more complicated this approach does allow for the printing of metal or resins which would otherwise be impossible or far more complicated on an FDM machine. In addition to this the objects produced by SLS printers tend to be much higher resolution as the laser can very specifically control what is melted and what is not. <br>
  <figure>
    <img class="w3-image" src="static/sls.jpg" alt="ohh nooo">
    <figcaption>A typical SLS printer.</figcaption>
  </figure>
</div>
