<div class="cm-h1">
  Additive Manufacturing (AM): Machines and Techniques
</div>

Additive manufacturing is a unique process that can create lighter, stronger, and abstract parts that traditional subtractive manufacturing cannot replicate. The most common way of doing this is with a 3D printer. Objects and parts are printed layer by layer out of materials ranging from thermoplastics, metals, ceramics, to biochemicals. The benefits of additive manufacturing include incorporating cellular structures, manufacturing joints and parts as a single piece for rapid assembly, and quick prototyping to rapidly iterate and test parts. Learn more about the benefits and applications of additive manufacturing on the interactive screens to the right and left! <br>

With the advent of faster and inexpensive controllers, additive manufacturing has become an incredibly accessible technology and modern convenience available to everyone. Furthermore, additive manufacturing is a developing technology and has multiple different styles and processes that all fall under the larger umbrella of “additive manufacturing” itself. Below a few different types are broken out and explained. <br>


<button class="w3-button cm-button" onclick="expand('fdm')"> // Fused Deposition Modeling (FDM) // </button>
<div id="fdm" class="w3-container w3-round-large cm-acordian w3-hide">
  Fused Deposition Modeling, more typically called FDM, is the process of converting a computer generated model into a physical object by depositing molten plastics layer by layer to form the final product. FDM is the most common form of additive manufacturing currently because of its simplicity and low cost. <br>
  <figure>
    <img class="w3-image" src="static/printer.jpg" alt="ohh nooo">
    <figcaption>A typical FDM printer, courtesy of a team member who is printing for <a href="https://www.theverge.com/2020/5/25/21264243/face-shields-diy-ppe-3d-printing-coronavirus-covid-maker-response">Make for Covid.</a></figcaption>
  </figure>
</div>

<button class="w3-button cm-button" onclick="expand('sls')"> // Selective Laser Sintering (SLS) // </button>
<div id="sls" class="w3-container w3-round-large cm-acordian w3-hide">
  Selective Laser Sintering (SLS) is the process of using a laser to selectively sinter or melt layers of material together. This form of additive manufacturing is less common in non-industry use, as the costs of having a high power laser to heat up and melt materials is often over budget for the average person.
  <br>
  While more complicated, this approach does allow for the printing of metal or resins which would otherwise be impossible or far more complex on an FDM machine. In addition to this, the objects produced by SLS printers tend to be much higher in resolution as the laser can very precisely control what is melted and what is not.
  <br>
  <div class="w3-container w3-center" style="margins: 10px;">
    <a title="Materialgeeza / CC BY-SA (https://creativecommons.org/licenses/by-sa/3.0)" href="https://commons.wikimedia.org/wiki/File:Selective_laser_melting_system_schematic.jpg"><img width="512" alt="Selective laser melting system schematic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Selective_laser_melting_system_schematic.jpg/512px-Selective_laser_melting_system_schematic.jpg" class="w3-center"></a>
  </div>
</div>

<button class="w3-button cm-button" onclick="expand('sla')"> // Stereolithography (SLA)  // </button>
<div id="sla" class="w3-container w3-round-large cm-acordian w3-hide">
  Stereolithography (SLA) is a process that uses a liquid photo-polymer resin unlike FDM and SLS. For the liquid to take shape and harden, the build plate lowers into the resin and an ultraviolet (UV) laser is used to target the specific areas within the resin. As each layer hardens from the UV laser, the build plate rises layer by layer until the print is complete. This method of printing allows for highly detailed and intricate designs such as lattices and small detailed parts. Compared to SLS, this method of printing is more available to both industry and public, but the cost of the material is more expensive compared to FDM material.
  <figure>
    <img class="w3-image" src="static/sla.jpg" alt="ohh nooo">
    <figcaption>A typical SLA printer, <a href="https://www.flickr.com/photos/3dbenchy/24590100362">source</a>.</figcaption>
  </figure>
</div>
