<div class="cm-h1 w3-center">
  Recreational Items
</div>
These items invoke a feeling of recreation and show that additive manufacturing is for everyone, even the kids! <br>

<figure class="w3-container">
  <img src="/static/chess/pawn_to_king.png" alt="Chess set" style="width:100%;">
  <figcaption>All of the chess peices lined up from pawn to king.</figcaption>
</figure>

This chess set was inspired by many spacecraft made by Lockheed Martin which were shown in the touchscreen to the left of the printer. This created a more tactile, and tangible experience. ​With testing focused on readability and likeability, these pieces have undergone a series of changes. Through these iterations, concludes the final, functional chess set.

<figure class="w3-container">
  <img src="/static/chess/chessboard_full.png" alt="Chess set" style="width:100%;">
  <figcaption>Game on!</figcaption>
</figure>

<%- include("pedestal.ejs"); %>

<script>
  document.getElementById("recreationallink").href = "#recreationallink";
</script>
