<div class="cm-h1 w3-center">
  Recreational Items
</div>
These items invoke a feeling of recreation and show that additive manufacturing is for everyone, even the kids! <br>

<div class="w3-row">
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/chess_all.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Chess pieces side by side</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/bishop.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Bishop</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/pawn.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Pawn</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/queen.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>King</figcaption>
    </figure>
  </div>
</div>
This chess set was inspired by many spacecraft made by Lockheed Martin which were shown in the touchscreen to the left of the printer. This created a more tactile, and tangible experience. ​With testing focused on readability and likeability, these pieces have undergone a series of changes. Through these iterations, concludes the final, functional chess set.
<br>

<%- include("pedestal.ejs"); %>
