<div class="cm-h1 w3-center">
  Recreational Items
</div>
<div class="cm-text">
  The goal of these items was to invoke a feeling of recreation and show that additive manufacturing is for everyone, even the kids!
</div>
<div class="w3-row">
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/chess_all.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Several chess pieces in the same set.</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/bishop.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Bishop</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/pawn.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Pawn</figcaption>
    </figure>
  </div>
  <div class="w3-quarter">
    <figure>
      <video onloadeddata="this.play();" src="/renders/queen.mp4" loop playsinline type="video/mp4" style="max-width:250;">Not working?</video>
      <figcaption>Queen</figcaption>
    </figure>
  </div>
</div>
This chessboard was selected as a way to bring the spacecraft from the touchscreens to a more tactile, tangible experience. ​Testing has been focused on readability (is the piece recognizable as the part it is?) and likeability. Feedback was mixed and has led to minor changes, and as this process continues there will likely be more.
<hr>

<%- include("pedestal.ejs"); %>
