<div class="cm-h1">
  Static Display Items
</div>
Static display objects are defined as objects that cannot move on their own; all motion of any parts must come from a user directly. These display objects were chosen because they are engaging, fun, and showcase the advantages of additive manufacturing technology.
<br> <br>

<!-- astrolabicon -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/astrolabicon.jpg" alt="" class="w3-image" style="width:100%;">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Octosphericon Puzzle
    </div>
    This octosphericon is an octagon that has been rotated around in a circle. When the two halves are put together off-center, the result is this puzzle! The octosphericon is manufactured in two halves that are joined with magnets - a unique shape and assembly that benefits from additive manufacturing and the ability of this method to create complex shapes without a mold.This puzzle can be solved by rotating the two body pieces as well as by shifting the positions of the marbles in each channel. The goal of the puzzle is to group all the marbles of the same color together.
  </div>
</div>
<br>

<!-- Rod Nodes -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/rod_node.png" alt="" class="w3-image" style="width:100%;">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Rod and Node Building System
    </div>
    The rod and node building system conveys one advantage of additive manufacturing by comprising custom, modular parts, intended to be used to build a bigger whole. The hexasphericon nodes echo the shape of the octosphericon puzzle and are a fun alternative to spheres (or marshmallows!) -- try rolling these unique nodes around and you will see the unusual path they follow. These objects invite you to be creative and have fun, building your own structures and viewing structures others have built. The rods and nodes seamlessly integrate with their pedestal as you can see above. Download your own set of rods and nodes to play with <a href="">here</a>.!
  </div>
</div>
<br>



<%- include("pedestal.ejs"); %>
