<div class="cm-h1 w3-center">
  Static Display Items
</div>
<div class="cm-text w3-large">
  These items are designed to showcase the benefits of additive manufacturing in non-moving elements.
</div>
<!-- Rod Nodes -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/rod_node.png" alt="" class="w3-image" style="width:100%;">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Rod and Nodes
    </div>
    If you've ever played with classic construction toys you'll feel right at home with these! Instead of simple shapes like cubes and spheres, the 3D printed nature of these parts allows for them to complex shapes and for them to have connection points which would be otherwise complicated to add.
  </div>
</div>
<br>
<!-- astrolabicon -->
<div class="w3-row-padding w3-container">
  <div class="w3-third">
    <img src="/static/items/astrolabicon.jpg" alt="" class="w3-image" style="width:100%;">
  </div>
  <div class="w3-twothird">
    <div class="cm-h1">
      Astrolabicon
    </div>
    The astrolabicon is a 3D puzzle who's end goal should be getting all like colored marbles touching. This at first does not sound particularly complicated but as you work the puzzle you will find that each turn changes the dynamics of the track which the marbles move within.
  </div>
</div>
<br>
<hr>

<%- include("pedestal.ejs"); %>
