<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <script src="js/general.js"></script>
    <title> Augmented Reality </title>
  </head>
  <body class="cm-tp">
    <div class="w3-container w3-center">
      <!-- HEADER SECTION -->
      <div class="cm-h1 w3-xxxlarge w3-center">
        Augmented Reality (AR) Technology
      </div>
      <div class="cm-h1 w3-large">
        AR is the careful combination of multiple disciplines that allow for the augmentation of reality through digitally added content.
      </div>
      <hr>
      <br>

      <!-- CONTENT -->
      <div class="w3-container w3-center cm-textbox">
        If you would like, we have a short video demonstration viewable here (not yet made!). Otherwise, here are some short articles explaining AR.
        <button class="w3-button cm-button" onclick="expand('theory')"> >> Theory << </button>
        <div id="theory" class="w3-container w3-round-large cm-acordian w3-hide">
          Augmented Reality (AR) is an interactive experience where the real world environment can be modified and added to with computer generated graphics. A lot of the process and thought that goes into this comes down between the disciplines of computer vision and 3D graphics, as the end product is the combination of what <i>can</i> be seen and what <i>should</i> be seen.
        </div>
        <button class="w3-button cm-button" onclick="expand('practice')"> >> In Practice << </button>
        <div id="practice" class="w3-container w3-round-large cm-acordian w3-hide">
          In practice this can be seen using our app (links) <a href="/banner">here</a>. In addition to this there are many other real world examples of this, like the popular mobile game Pokémon Go which uses AR to show the users the real world with videogame characters added in. Other examples include auto manufacturers allowing customers to see what's under the hood without actually having to open the hood.
        </div>
      </div>

    </div>

    <!--FOOTER -->
    <br>
    <br>
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">Comcast Media and Technology Center 2020</a>
    </div>
  </body>
</html>
