<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <title> Banner </title>
  </head>
  <style>
    video {
      width: 100%;
      height: auto;
    }
  </style>
  <body class="cm-tp">
    <button class="w3-center w3-button w3-white" onclick="location.href='/ar';" style="width:100%;">This experience uses Augmented Reality (AR) technologies. If this is your first time experienceing such things then you might like to click here.</button>
    <div class="w3-container w3-center">
      <div class="cm-h1 w3-xxxlarge w3-center">
        Augmented Reality Posters
      </div>
      <div class="cm-h1 w3-large">
        Through the use of the mobile app you can take a look at the surface of Mars!
      </div>
      <br>
      <div class="w3-countianer">
        <figure>
          <img class="w3-image" src="static/window1.jpg" alt="ohh nooo">
          <figcaption>First window, say hi to the rover!</figcaption>
        </figure>
        <figure>
          <img class="w3-image" src="static/mars_phone1.jpg" alt="ohh nooo" style="width:50%;">
          <figcaption>Heres what that looks like through the phone!</figcaption>
        </figure>
        <br>
        <figure>
          <img class="w3-image" src="static/window2.jpg" alt="oh nooo 2">
          <figcaption>Second window (can you see Phobos and Desmos?)</figcaption>
        </figure>
        <figure>
          <img class="w3-image" src="static/mars_phone2.jpg" alt="ohh nooo" style="width:50%;">
          <figcaption>Heres what that looks like through the phone!</figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
