<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <script src="/js/general.js"></script>
    <title> Additive Manufacturing Kiosk </title>
  </head>
  <body>
    <div class="w3-display-container cm-imagepane" style="width:100%;">
      <img src="/static/backgrounds/main.png" alt="" style="width: 100%;">

      <div class="w3-display-middle w3-center cm-h1 w3-xlarge w3-hide-small" style="transform: translate(-50%, -550%);">
        Click and scroll to navigate each scene. <br>
        Information about each is provided below.
      </div>
      <div class="w3-display-middle w3-row" style="width:100%;height:100%;">
        <div class="w3-col s4 w3-center" style="transform: translate(-10%, 60%);">
          <!-- LEFT -->
          <button class="w3-container w3-button w3-opacity" style="height:15%; width:75%;" onclick="location.href='/t/main/left/poster';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/t/main/left/far';"></button>
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/t/main/left/near';"></button>
          </div>
        </div>
        <div class="w3-col s4 w3-center">
          <!-- CENTER -->
          <div class="w3-row" style="transform: translate(5%, 45%);">
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:50%; width:30%;" onclick="location.href='/t/main/left/legs';"></button>
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:50%; width:30%;" onclick="location.href='/t/main/printer';"></button>
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:50%; width:30%;" onclick="location.href='/t/main/right/legs';"></button>
          </div>
        </div>
        <div class="w3-col s4 w3-center" style="transform: translate(10%, 60%);">
          <!-- RIGHT -->
          <button class="w3-container w3-button w3-opacity" style="height:15%; width:75%;" onclick="location.href='/t/main/right/poster';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/t/main/right/near';"></button>
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/t/main/right/far';"></button>
          </div>
        </div>
      </div>

      <!-- LAST -->
      <div class="w3-display-bottommiddle w3-center cm-scroll-indicator w3-large w3-hide-small" style="transform: translate(-50%, -350%)">
        Read more <br>
        <img src="/static/triangle.png" alt="" style="width:4%;">
      </div>
      <div class="w3-display-topleft w3-container cm-button w3-round" onclick="location.href='/help'" style="width:2vw; height:2vw;">
        <div class="w3-display-container" style="width:100%; height:100%;">
          <div class="w3-display-middle">
            ?
          </div>
        </div>
      </div>
    </div>

    <!-- infopane -->
    <div class="w3-container w3-center cm-infopane">
      <!-- HEADER SECTION -->
      <div class="cm-h1 w3-center">
        Additive Manufacturing Kiosk
      </div>
      <div class="cm-text">
        The goal of this kiosk was to create an experience where the user can learn about the everyday benefits of additive manufacturing and how this futuristic technology is something that everyone can utilize.
      </div>
      <hr>

      <!-- CONTENT -->
      <div class="w3-container w3-center cm-textbox">
        <div class="cm-h1 w3-center">
          Documentary
        </div>
        <div class="cm-text">
          This short documentry shows the teams efforts to create this experience both in the physical and the virtual spaces.
        </div>
        <br>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ww6-jBcidyk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <hr>

        <div class="cm-h1 w3-center">
          Additional Information
        </div>
        <button class="w3-button cm-button" onclick="expand('nav')" style="width:50%;">Navigation</button>
        <div id="nav" class="w3-container w3-round-large cm-acordian w3-hide">
          Basic navigation of the site is done through clicking on different regions of space on the kiosk to move to each one of the elements. Underneath that element there is information explaining how the item was created with additive manufacturing, the design process employed by its creator, and the importance of it in this scene.
          <br>
          <ul>
            <li><a href="/left/far">Far left pedestal </a></li>
            <li><a href="/left/near">Near left pedestal </a></li>
            <li><a href="/left/legs">Left legs </a></li>
            <li><a href="/left/poster">Left poster </a></li>
            <li><a href="/left/printer">Printer </a></li>
            <li><a href="/right/far">Far right pedestal </a></li>
            <li><a href="/right/far">Near right pedestal </a></li>
            <li><a href="/right/legs">Right legs pedestal </a></li>
            <li><a href="/right/poster">Right poster </a></li>
          </ul>
        </div>
        <br> <br>
        <button class="w3-button cm-button" onclick="expand('ar')" style="width:50%;">AR</button>
        <div id="ar" class="w3-container w3-round-large cm-acordian w3-hide">
          Augmented Reality (AR) is an interactive experience where the real world environment can be modified and added to with computer generated graphics. A lot of the process and thought that goes into this comes down between the disciplines of computer vision and 3D graphics, as the end product is the combination of what <i>can</i> be seen and what <i>should</i> be seen. <br> <br>

          In practice this can be seen using our app (links) <a href="/banner">here</a>. In addition to this there are many other real world examples of this, like the popular mobile game Pokémon Go which uses AR to show the users the real world with videogame characters added in. Other examples include auto manufacturers allowing customers to see what's under the hood without actually having to open the hood.


        </div>
      </div>
    </div>

    <!--FOOTER -->
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">
        <img src="/static/cmtc.png" alt="">
      </a>
    </div>
  </body>
</html>
