<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <title> PROTOTYPE AM </title>
  </head>
  <body>
    <button class="w3-center w3-button cm-button" onclick="location.href='/ar';" style="width:100%;">This experience uses Augmented Reality (AR) technologies. If this is your first time experiencing such things then you might like to click here.</button>

    <div class="w3-display-container cm-imagepane" style="width:100%; height:100%; background-image: url('/static/backgrounds/main.png'); ">

      <div class="w3-display-middle">
        <div class="cm-h1 w3-xlarge w3-center" style="transform: translateY(-1000%);">
          Click on one of the elements of the scene to learn more!
        </div>
      </div>
      <div class="w3-display-middle w3-row" style="width:100%;height:100%;">
        <div class="w3-col s4 w3-center" style="transform: translate(-10%, 60%);">
          <!-- LEFT -->
          <button class="w3-container w3-button w3-opacity" style="height:15%; width:75%;" onclick="location.href='/left/banner';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/left/far';"></button>
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/left/near';"></button>
          </div>
        </div>
        <div class="w3-col s4 w3-center">
          <!-- CENTER -->
          <div class="w3-row">
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; height:50%; transform:translateY(50%);" onclick="location.href='/left/panel';"></button>
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; height:50%; transform:translateY(50%);" onclick="location.href='/printer';"></button>
            <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; height:50%; transform:translateY(50%);" onclick="location.href='/right/panel';"></button>
          </div>
        </div>
        <div class="w3-col s4 w3-center" style="transform: translate(10%, 60%);">
          <!-- RIGHT -->
          <button class="w3-container w3-button w3-opacity" style="height:15%; width:75%;" onclick="location.href='/right/banner';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/right/far';"></button>
            <button class="w3-container w3-button w3-opacity w3-cell" style="height:30%; width:30%;" onclick="location.href='/right/near';"></button>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER -->
    <br>
    <br>
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">Comcast Media and Technology Center 2020</a>
    </div>
  </body>
</html>
