<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <script src="js/general.js"></script>
    <title> Items </title>
  </head>
  <style>
    video {
      width: 100%;
      height: auto;
    }
  </style>
  <body class="cm-tp">
    <div class="w3-container w3-center">
      <div class="cm-h1 w3-xxxlarge w3-center">
        Products of Additive Manufacturing
      </div>
      <div class="cm-h1 w3-large">
        Each one of these items can be made using AM techniques.
      </div>
      <hr>
      <br>

      <div class="w3-container w3-center cm-textbox">
        The number and variety of areas that can benefit from additive manufacturing are vast and varied. Below we have organized some of the examples that our team have made and found into four easy categories: static items, dynamic items, recreational items, and artistic items. Click on each drop down to read about that area! <br>
        <button class="w3-button cm-button" onclick="expand('static')" style="width:50%;"> >> Static Items << </button>
        <div id="static" class="w3-container w3-round-large cm-acordian w3-hide">
          <div class="w3-row">
            <div class="w3-col m3 l3 w3-container">
              <img class="w3-image" src="static/astrolabicon.jpg" alt="">
            </div>
            <div class="w3-col m9 l9 w3-container">
              <div class="w3-xlarge">
                Astrolabican
              </div>
              <p>
                The astrolabicon is a 3D puzzle who's end goal should be getting all like colored marbles touching. This at first does not sound particularly complicated but as you work the puzzle you will find that each turn changes the dynamics of the track which the marbles move within.
              </p>
            </div>
          </div>
          <hr>
          <div class="w3-row">
            <div class="w3-col m3 l3 w3-container">
              <img class="w3-image" src="static/rod_node.png" alt="">
            </div>
            <div class="w3-col m9 l9 w3-container">
              <div class="w3-xlarge">
                Rod and Nodes
              </div>
              <p>
                If you've ever played with classic construction toys you'll feel right at home with these! Instead of simple shapes like cubes and spheres, the 3D printed nature of these parts allows for them to complex shapes and for them to have connection points which would be otherwise complicated to add.
              </p>
            </div>
          </div>
        </div>
        <button class="w3-button cm-button" onclick="expand('dynamic')" style="width:50%;"> >> Dynamic Items << </button>
        <div id="dynamic" class="w3-container w3-round-large cm-acordian w3-hide">
          <div class="w3-row">
            <div class="w3-col m3 l3 w3-container">
              <img class="w3-image" src="static/tourbillion.png" alt="">
            </div>
            <div class="w3-col m9 l9 w3-container">
              <div class="w3-xlarge">
                Tourbillion
              </div>
              <p>
                The tourbillion is a marvel of mechanical construction. Originally made for highend watches as a way to counteract the affect of gravity on the individual parts of the watches mechanism, the complex and interesting aspects of the tourbillion are now no longer just for those with years of machining expertice (or a couple thousand dollar watch shaped hole burning in their wallet)! The 3D printed tourbillion is not the same scale as its pratical counterpart however the mechanisms within are just as entertaining to watch!
              </p>
            </div>
          </div>
          <hr>
          <div class="w3-row">
            <div class="w3-col m3 l3 w3-container">
              <img class="w3-image" src="static/v8.png" alt="">
            </div>
            <div class="w3-col m9 l9 w3-container">
              <div class="w3-xlarge">
                V8 Engine
              </div>
              <p>
                A V8 engine is recognizable by its distinct V shape in the cylinders and the fact that they all share a common crankshaft. In this 3D printed example you won't be cruising around town in your muscle car, however you will be able to admire the work and craftsmanship that went into designing and producing engines like this in a time before computer aided design!
              </p>
            </div>
          </div>
        </div>
        <button class="w3-button cm-button" onclick="expand('recreational')" style="width:50%;"> >> Recreational Items << </button>
        <div id="recreational" class="w3-container w3-round-large cm-acordian w3-hide">
          <div class="w3-cell-row w3-center">
            <div class="w3-cell w3-container">
              <figure>
                <video src="renders/chess_all.mp4" loop autoplay type="video/mp4">Not working?</video>
                <figcaption>Several chess pieces in the same set.</figcaption>
              </figure>
            </div>
            <div class="w3-cell w3-container">
              <figure>
                <video src="renders/bishop.mp4" loop autoplay type="video/mp4">Not working?</video>
                <figcaption>Bishop</figcaption>
              </figure>
            </div>
            <div class="w3-cell w3-container">
              <figure>
                <video src="renders/pawn.mp4" loop autoplay type="video/mp4">Not working?</video>
                <figcaption>Pawn</figcaption>
              </figure>
            </div>
            <div class="w3-cell w3-container">
              <figure>
                <video src="renders/queen.mp4" loop autoplay type="video/mp4">Not working?</video>
                <figcaption>Queen</figcaption>
              </figure>
            </div>
          </div>
          <p>
            This chessboard was selected as a way to bring the spacecraft from the touchscreens to a more tactile, tangible experience. ​Testing has been focused on readability (is the piece recognizable as the part it is?) and likeability. Feedback was mixed and has led to minor changes, and as this process cointues there will likely be more.
          </p>
        </div>
        <button class="w3-button cm-button" onclick="expand('artistic')" style="width:50%;"> >> Artistic Items << </button>
        <div id="artistic" class="w3-container w3-round-large cm-acordian w3-hide">
          <div class="w3-cell-row w3-center">
            <div class="w3-cell w3-container">
              <img class="w3-image" src="static/shadow_orb/projection.jpg" alt="" style="max-height:400px;">
            </div>
            <div class="w3-cell w3-container">
              <img class="w3-image" src="static/shadow_orb/render.jpg" alt="" style="max-height:400px;">
            </div>
            <div class="w3-cell w3-container">
              <img class="w3-image" src="static/shadow_orb/face.jpg" alt="" style="max-height:400px;">
            </div>
            <div class="w3-cell w3-container">
              <img class="w3-image" src="static/shadow_orb/reverse.jpg" alt="" style="max-height:400px;">
            </div>
          </div>
          <p>
            These shadow art peices are designed with a spherical outer shell and inner extrusions which block light casted into them to create a scene much like shadow puppets would. The design of these are on going and work is being done to make them as visually appealing as well as optimized for 3D printing as possible.
          </p>
          <img class="w3-image" src="static/shadow_orb/optionals.jpg" alt="">
          <p>
            Here are some example of scenes that could be put into the center instead of the "star gazing" scene. These are also in development and may change. Below you can use the included toggle to switch the lights on and off on this specific shadow orb!
          </p>
          <figure>
            <img class="w3-image" src="static/shadow_orb/example_off.png" alt="" id="orb_interactive">
            <figcaption>
              <button class="w3-button cm-button" onclick="orbInteract()" style="width:50%;"> >> Toggle lighting << </button>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">Comcast Media and Technology Center 2020</a>
    </div>
  </body>
</html>
