<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <title> AM </title>
  </head>
  <body class="cm-tp">
    <div class="w3-container w3-center">
      <div class="cm-h1 w3-xxxlarge w3-center">
        Additive Manufaturing
      </div>
      <div class="cm-h1 w3-large">
        There is an art and a science to additive manufacturing, and here we hope to clear up that process.
      </div>
      <br>
      <figure>
        <img class="w3-image" src="static/printer.jpg" alt="ohh nooo">
        <figcaption>Here is a printer.</figcaption>
      </figure>
      <div class="w3-row">
        <div class="w3-col m4 l4">
          <img src="static/panel_opt1.png" alt="">
        </div>
        <div class="w3-col m4 l4">
          <img src="static/panel_opt2.png" alt="">
        </div>
        <div class="w3-col m4 l4">
          <img src="static/panel_opt3.png" alt="">
        </div>
      </div>
  </body>
</html>
