<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <title> Panel / Cabinet </title>
  </head>
  <body class="cm-tp">
    <div class="w3-container w3-center" style="width:100%;">
      <div class="cm-h1 w3-xxxlarge w3-center">
        Cabinet and Virtual Screens
      </div>
      <div class="cm-h1 w3-large">
        The cabinets are special in that they have been engineered to be made using Additive manufacturing and as such had a lot of thought behind them.
      </div>
      <br>
      <div class="w3-row w3-center" style="width:100%;">
        <div class="w3-cell">
          <img src="static/panel_opt1.png" alt="">
        </div>
        <div class="w3-cell">
          <img src="static/panel_opt2.png" alt="">
        </div>
        <div class="w3-cell">
          <img src="static/panel_opt3.png" alt="">
        </div>
      </div>
  </body>
</html>
