<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <title> Pedestal </title>
  </head>
  <body class="cm-tp">
    <div class="w3-container w3-center">
      <div class="cm-h1 w3-xxxlarge w3-center">
        Pedestals
      </div>
      <div class="cm-h1 w3-large">
        Each one of these pedestals has had incredible amounts of work put into them both artistically and technically.
      </div>

      <figure>
        <img class="w3-image" src="static/pedestal_sketch.png" alt="ohh nooo">
        <figcaption>Some sketches of the pedestals and the process that went into artistically creating them.</figcaption>
      </figure>
      <figure>
        <img class="w3-image" src="static/pedestal_static.png" alt="ohh nooo">
        <figcaption>Heres a render of what the pedestals might look like!</figcaption>
      </figure>

    </div>
  </body>
</html>
