<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/am.css">
    <script src="/js/general.js"></script>
    <title> PROTOTYPE AM </title>
  </head>
  <body>
    <div class="w3-display-container cm-imagepane" style="width:100%;">
      <img src="/static/backgrounds/printer.png" alt="" style="width: 100%;">

      <!-- LINKS -->
      <button class="w3-display-left w3-container w3-button w3-opacity" style="height:100%; width:30%;" onclick="location.href='/t/left/printer/legs';"></button>
      <button class="w3-display-right w3-container w3-button w3-opacity" style="height:100%; width:30%;" onclick="location.href='/t/right/printer/legs';"></button>

      <!-- LAST -->
      <div class="w3-display-bottommiddle cm-scroll-indicator w3-round-large w3-xxxlarge" style="transform: translate(-50%, -250%)">
        VV SCROLL TO READ MORE VV
      </div>
      <button class="w3-display-topmiddle w3-center w3-button cm-button" onclick="location.href='/t/printer';" style="width:100%;"> HOME </button>
    </div>

    <!-- infopane -->
    <div class="w3-container cm-infopane">
      <!-- HEADER SECTION -->
      <div class="cm-h1 w3-xxxlarge w3-center">
        Additive Manufacting: Machines and Techniques
      </div>
      <div class="cm-h1 w3-large">
        With the advent of faster and inexpensive controllers, additive manufacturing has exploded from something that only the very well funded private organizations may have to something that the average Joe could have at home. These technologies and techniques, while futuristic, are very much a modern convenience available to everyone.
      </div>
      <hr>
      <br>

      <!-- CONTENT -->
      <div class="w3-container w3-center cm-textbox">
        Additive Manufacturing refers to the process of creating something by strategically adding material where there once was none. The most common way of doing this is with a 3D printer which adds molten plastic together in layers to form a three dimensional object. 3D printing is in of itself a developing technology and has multiple different styles and processes that all fall under the larger umbrella of 3D printing. Below these different types are broken out and explained.<br>
        <button class="w3-button cm-button" onclick="expand('fdm')"> >> Fused Deposition Modeling (FDM) << </button>
        <div id="fdm" class="w3-container w3-round-large cm-acordian w3-hide">
          Fused Deposition Modeling, more typically called FDM, is the process of converting a computer generated model into a physical object by depositing molten plastics layer by layer to form the final product. This is the most common form of 3D printing currently because of its simplicity and low cost. <br>
          <figure>
            <img class="w3-image" src="static/printer.jpg" alt="ohh nooo">
            <figcaption>A typical FDM printer.</figcaption>
          </figure>
        </div>
        <button class="w3-button cm-button" onclick="expand('sls')"> >> Selective Laser Sintering (SLS) << </button>
        <div id="sls" class="w3-container w3-round-large cm-acordian w3-hide">
          Selective Laser Sintering (SLS) is the process of using a laser to selectively sinter or melt layers of material together. This form of 3D printing is more reserved for professionals as the costs of having a high power laser to be able to heat up whatever material is being used is often over budget for the average person.<br>
          While more complicated this approach does allow for the printing of metal or resins which would otherwise be impossible or far more complicated on an FDM machine. In addition to this the objects produced by SLS printers tend to be much higher resolution as the laser can very specifically control what is melted and what is not. <br>
          <figure>
            <img class="w3-image" src="static/sls.jpg" alt="ohh nooo">
            <figcaption>A typical FDM printer.</figcaption>
          </figure>
        </div>
      </div>
    </div>

    <!--FOOTER -->
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">Comcast Media and Technology Center 2020</a>
    </div>
  </body>
</html>
