<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/am.css">
    <script src="/js/general.js"></script>
    <title> Transitioning </title>
  </head>
  <style>
    video {
      width: 100%;
      height: auto;
    }
  </style>
  <body class="cm-tp">
    <%
      if(video == "NONE"){
        return res.redirect(dst);
      }
    %>
    <div class="w3-display-container">
      <video onloadeddata="this.play();" src="/renders/transitions/<%=video%>" playsinline  controls type="video/mp4" onended="location.href='<%=dst%>';">Not working? Click <a href="<%=dst%>">here</a> to move to the next page.</video>

      <!-- LAST -->
      <!-- HEADER -->
      <button class="w3-center w3-button cm-home-header" onclick="location.href='<%=dst%>';" style="width:100%;"> SKIP </button>
    </div>
  </body>
</html>
