<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title> Transitioning </title>
  </head>
  <style>
    video {
      width: 100%;
      height: auto;
    }
  </style>
  <body>
    <video src="/renders/<%=video%>.mp4" autoplay type="video/mp4" onended="location.href='<%=target%>';">Not working?</video>
  </body>
</html>
