<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebGL Screens</title>
    <link rel="shortcut icon" href="/webgl/left/TemplateData/favicon.ico">
    <link rel="stylesheet" href="/webgl/left/TemplateData/style.css">
    <script src="/webgl/left/TemplateData/UnityProgress.js"></script>
    <script src="/webgl/left/Build/UnityLoader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/am.css">
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "<%=container%>", {onProgress: UnityProgress});
    </script>
  </head>

  <body class="cm-tp">
    <div class="webgl-content w3-display-container" style="height:100%; width:100%;">
      <div class="w3-display-middle" id="gameContainer">
        <script>
          var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - 100;
          var w = (h/16) * 9;

          document.getElementById("gameContainer").style.height = h + "px";
          document.getElementById("gameContainer").style.width = w + "px";
        </script>
      </div>

      <div class="w3-display-bottommiddle w3-center cm-scroll-indicator w3-hide-small">
        Read more <br>
        <img src="/static/triangle.png" alt="" style="width:4%;">
      </div>
    </div>
    <hr>
    <div class="w3-container cm-infopane">
      <div class="w3-container cm-textbox">

        <div class="cm-h1 w3-center">
          Kiosk Screens
        </div>
        <br>

        <div class="w3-cell-row w3-center" style="margin: 10px;">
          <div class="w3-cell">
            <img src="/static/legs/screen_physical1.jpg" alt="" style="max-height:400px;">
          </div>
          <div class="w3-cell">
            <img src="/static/legs/screen_physical2.jpg" alt="" style="max-height:400px;">
          </div>
        </div>
        The photographs above demonstrate what the interactive screens looked like mid-development. Notice that they are on temporary stands and that the version of the system running on them may be slightly different from that which you would see in person (or through the web versions available above).<br> <br>

        <div class="w3-cell-row w3-center" style="margin: 10px;">
          <div class="w3-cell">
            <img src="/static/legs/screen1.png" alt="" style="max-height:400px;">
          </div>
          <div class="w3-cell">
            <img src="/static/legs/screen2.png" alt="" style="max-height:400px;">
          </div>
          <div class="w3-cell">
            <img src="/static/legs/screen3.png" alt="" style="max-height:400px;">
          </div>
        </div>
        These are photographs of the functioning screen application. This demonstrates how we use the custom application  to convey how the modern day advances of additive manufacturing (AM) are being put into use. Through user testing and surveys, the team in charge of the screen design were able to finalize a UI that worked best for the user’s experience. <br> <br>

        <div class="cm-text">
          The other screen is accessable
          <% if(container.includes("left")){ %>
            <a href="/rightwebgl">here</a>.
          <% } else { %>
            <a href="/leftwebgl">here</a>.
          <% } %>
        </div>

      </div>
    </div>

    <!-- Header -->
    <button class="w3-center w3-button cm-home-header" onclick="location.href='/';" style="width:100%;"> HOME </button>
  </body>
</html>
