@font-face {
  font-family: kiona;
  src: url("Kiona-Regular.ttf") format("truetype");
}

:root {
  --cm-offwhite: rgb(240, 237, 230);
  --cm-black: rgb(28, 31, 36);
  --cm-lightgray: rgb(206, 210, 219);
  --cm-blue: rgb(2, 89, 140);
  --cm-gray: rgb(61, 65, 76);
  --cm-red: rgb(217, 86, 47);
}

.cm-h1 {
  font-family: kiona;
}

.cm-tp {
  background-color: var(--cm-black);
  color: var(--cm-offwhite);
}

.cm-textbox {
  width:75%;
  margin:auto;
}

.cm-button {
  font-family: kiona;
  background-color: var(--cm-red);
  color: var(--cm-offwhite);
  width: 50%;
}

.cm-acordian {
  background-color: var(--cm-lightgray);
  color: var(--cm-black);
}

.cm-footer {
  background-color: var(--cm-black);
  color: var(--cm-offwhite);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
