@font-face {
  font-family: kiona;
  src: url("Kiona-Regular.ttf") format("truetype");
}

:root {
  --cm-offwhite: rgb(240, 237, 230);
  --cm-black: rgb(0, 0, 0);
  --cm-lightgray: rgb(206, 210, 219);
  --cm-blue: rgb(2, 89, 140);
  --cm-gray: rgb(28, 32, 37);
  --cm-red: rgb(218, 86, 46);
}

a:link{
  color: var(--cm-red);
}
a:visited{
  color: var(--cm-red);
}

.cm-h1 {
  font-family: kiona;
  font-size: 2.5rem;
}

.cm-h2 {
  font-family: kiona;
  font-size: 1.5rem;
}

.cm-text {
  font-family: kiona;
  font-size: vw;
}

.cm-scroll-indicator {
  font-family: kiona;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  color: var(--cm-red);

  height: 50px;
  -webkit-animation:cm-scroll-indicator 1s infinite;
}

@-webkit-keyframes cm-scroll-indicator {
  0%       { bottom:2px; }
  25%, 75% { bottom:3px; }
  50%      { bottom:5px; }
  100%     {bottom:0;}
}

.cm-tp {
  background-color: var(--cm-black);
  color: var(--cm-grey);
}

.cm-textbox {
  width:100%;
  margin:auto;
}

.cm-button {
  font-family: kiona;
  background-color: var(--cm-red);
  color: var(--cm-offwhite);
  overflow: visible;
  overflow-wrap: break-word;
  white-space: normal;
  width:50%;
}

.cm-acordian {
  background-color: var(--cm-gray);
  color: var(--cm-offwhite);
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  text-align: left;
}

.cm-footer {
  background-color: var(--cm-black);
  color: var(--cm-offwhite);
  left: 0;
  bottom: 0;
  width: 100%;
}

.cm-home-header {
  background-color: var(--cm-red);
  color: var(--cm-offwhite);
  font-family: kiona;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.cm-infopane {
  background-color: var(--cm-black);
  color: var(--cm-offwhite);
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  /*overflow: scroll;*/
}


.cm-imagepane {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
