<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <script src="js/general.js"></script>
    <title> TEMPLATE </title>
  </head>
  <body class="cm-tp">
    <div class="w3-container w3-center">
      <!-- HEADER SECTION -->
      <button class="w3-center w3-button cm-button" onclick="location.href='/ar';" style="width:100%;">This experience uses Augmented Reality (AR) technologies. If this is your first time experiencing such things then you might like to click here.</button>
      <div class="cm-h1 w3-xxxlarge w3-center">
        AR Posters and Companion App
      </div>
      <div class="cm-h1 w3-large">
        Through the use of the companion app (links iOS and Android here), the experience of the kiosk can be enjoyed even from the comfort of your own home!
      </div>
      <hr>
      <br>

      <!-- CONTENT -->
      <div class="w3-container w3-center cm-textbox">
        This technology is super exciting and innovative in terms of what it can be used for and what it will be able to show to the users. Some interesting examples include the use of AR to "see" what's under the hood of a new car without having to open it, or the ability to visualize new structures in physical spaces. <br>
        Below we have included images of the posters which should allow for you to take the companion app (links) and view what it would look like on the surface of Mars! In addition to this we have included static screenshots incase you do not wish to use your phone for the full experience. <br>
        <button class="w3-button cm-button" onclick="expand('sample')"> >> Take a look out of the Window to Mars! << </button>
        <div id="sample" class="w3-container w3-round-large cm-acordian w3-hide">
          <figure>
            <img class="w3-image" src="static/window1.jpg" alt="ohh nooo">
            <figcaption>First window, say hi to the rover!</figcaption>
          </figure>
          <button class="w3-button cm-button" onclick="expand('phone1')"> >> Show spoiler << </button>
          <figure id="phone1" class="w3-hide">
            <img class="w3-image" src="static/mars_phone1.jpg" alt="ohh nooo" style="width:50%;">
            <figcaption>Here's what that looks like through the phone!</figcaption>
          </figure>
          <br>
          <figure>
            <img class="w3-image" src="static/window2.jpg" alt="oh nooo 2">
            <figcaption>Second window (can you see Phobos and Deimos?)</figcaption>
          </figure>
          <button class="w3-button cm-button" onclick="expand('phone2')"> >> Show spoiler << </button>
          <figure id="phone2" class="w3-hide">
            <img class="w3-image" src="static/mars_phone2.jpg" alt="ohh nooo" style="width:50%;">
            <figcaption>Here's what that looks like through the phone!</figcaption>
          </figure>
        </div>
      </div>

    </div>

    <!--FOOTER -->
    <br>
    <br>
    <div class="w3-container cm-footer w3-center w3-padding">
      <a href="https://comcastmediatechcenter.org/">Comcast Media and Technology Center 2020</a>
    </div>
  </body>
</html>
